[submodule "External/mINI"]
	path = External/mINI
	url = https://github.com/pulzed/mINI.git
[submodule "External/vcpkg"]
	path = External/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "External/IconFontCppHeaders"]
	path = External/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "External/implot/src"]
	path = External/implot/src
	url = https://github.com/epezent/implot.git
